@import '../../../styles.scss';

.warning-message {
    color: $red;
}

.correct-letter {
    color: green;
    font-weight: bolder;
    font-size: larger;
}

.incorrect-letter {
    color: red;
    font-weight: bolder;
    font-size: larger;
}

.results-container {
    height: 100vh;
    width: 100%;
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    .results-heading-container {
        display: flex;
        /*
        * {
            display: flex;
            align-items: center;
        }
        :first-child {
            margin-right: auto;
        }
        :last-child {
            margin-left: auto;
        }*/
        justify-content: space-between;
    }
    .results-error-container {
        height: 5%;
        text-align: center;
    }
    .results-content-container {
        flex: 1;
        background-color: $bg-color;
        display: flex;
        align-items: center;
        .results-player-container {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            .table-scrollable {
                width: 50%;
                height: 100%;
                overflow-y: auto;
                display: flex;
                justify-content: center;
                table {
                    flex: 1;
                    div {
                        text-align: center;
                    }
                }
            }
        }
        .results-computer-container {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            .table-scrollable {
                width: 50%;
                height: 100%;
                overflow-y: auto;
                display: flex;
                justify-content: center;
                table {
                    flex: 1;
                    div {
                        text-align: center;
                    }
                }
            }
        }
    }
}