@import '../../../styles.scss';

.warning-message {
    color: darken($red, 30%);
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
}
button:active {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.40), 0 17px 50px 0 rgba(0, 0, 0, 0.35);
}

.game-container {
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/bg2.jpg');
    display: flex;
    flex-direction: column;
    app-navbar {
        height: 10vh;
        width: 100%;
    }
    .game-bottom-container {
        height: 90vh;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        .player-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .enter-word-container {
                height: 50%;
                width: 75%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(255,255, 255, 0.7);

                min-height: 300px;
                min-height: 300px;
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .entered-error-container {
                    text-align: center;
                    height: 5%;
                    width: 100%;
                }
            }
        }
        .start-container {
            max-height: 90vh;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            .enter-guess-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: center;
                height: 12vh;
                .guess-error-container {
                    text-align: center;
                    height: 5vh;
                    width: 100%;
                }
            }
            .guess-list-container {
                height: 63vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(255,255, 255, 0.9);
                .table-scrollable {
                    width: 50%;
                    height: 100%;
                    overflow-y: auto;
                    display: flex;
                    justify-content: center;
                    table {
                        flex: 1;
                        div {
                            text-align: center;
                            font-weight: 1000;
                        }
                    }
                }
            }
            .guess-alpha-container {
                min-height: 10vh;
                background-color: rgba(255,255, 255, 0.9);
                .btn {
                    font-weight: 1000;
                }
                .btn-group {
                    width: 100%;
                }
            }
        }

        .ai-container {
            // background-color: #89CFF0;
            display: flex;
            flex-direction: column;
            min-height: 90%;
            .ai-heading-container {
                align-items: center;
                justify-content: center;
                height: 13vh;
                h3 {
                    text-align: center;
                    margin-bottom: 0;
                    color: $blue;
                }
            }
            .ai-guess-container {
                height: 77vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                background-color: rgba(255,255, 255, 0.9);

                .table-scrollable {
                    width: 50%;
                    height: 100%;
                    overflow-y: auto;
                    display: flex;
                    justify-content: center;
                    table {
                        flex: 1;
                        div {
                            text-align: center;
                            font-weight: 1000;
                        }
                    }
                }
            }
        }
    }

    button:hover {
        border-color: $orange   !important;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
    }
    button:active {
        background: $black      !important;
        color: $orange          !important;
        border-color: $orange   !important;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.40), 0 17px 50px 0 rgba(0, 0, 0, 0.35);
    }

    a:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
    }
    a:active {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.40), 0 17px 50px 0 rgba(0, 0, 0, 0.35);
    }
    button {
        border-color: $orange;
        background-color: rgba($color: $black, $alpha: 0.5);
        background-color: $black;
        color: $orange;
        font-weight: bold;
    }
}