@import '../../../styles.scss';

.warning-message {
    color: darken($red, 30%);
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
}
button:active {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.40), 0 17px 50px 0 rgba(0, 0, 0, 0.35);
}

.game-container {
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/bg2.jpg');
    .player-container {
        // background-color: #E27D60;
        // background-image: url('../../../assets/bg2.jpg');
        display: flex;
        justify-content: center;
        align-items: center;
        .enter-word-container {
            // background-color: #89CFF0;
            height: 50%;
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(255,255, 255, 0.7);
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .entered-error-container {
                text-align: center;
                height: 5%;
                width: 100%;
            }
        }
    }
    .start-container {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .enter-guess-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            min-height: 10vh;
            .guess-error-container {
                text-align: center;
                height: 5vh;
                width: 100%;
            }
        }
        .guess-list-container {
            height: 75vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(255,255, 255, 0.7);
            .table-scrollable {
                width: 50%;
                height: 100%;
                overflow-y: auto;
                display: flex;
                justify-content: center;
                table {
                    flex: 1;
                    div {
                        text-align: center;
                        font-weight: 1000;
                    }
                }
            }
        }
        .guess-alpha-container {
            min-height: 10vh;
            background-color: rgba(255,255, 255, 0.7);
            .btn {
                font-weight: 1000;
            }
            .btn-group {
                width: 100%;
            }
        }
    }

    .ai-container {
        // background-color: #89CFF0;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        .ai-heading-container {
            align-items: center;
            justify-content: center;
            height: 10vh;
            h3 {
                text-align: center;
            }
        }
        .ai-guess-container {
            height: 90vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            background-color: rgba(255,255, 255, 0.7);
            .table-scrollable {
                width: 50%;
                height: 100%;
                overflow-y: auto;
                display: flex;
                justify-content: center;
                table {
                    flex: 1;
                    div {
                        text-align: center;
                        font-weight: 1000;
                    }
                }
            }
        }
    }
}