<div class="game-container row">
  <div class="player-container col">
    <div class="enter-word-container" *ngIf="!aiWord; else start">
      <form #chooseWord="ngForm" (ngSubmit)="submitAIWord();">
        <div *ngIf="enteredError" class="warning-message row">{{enteredError}}</div>
        <div class="form-group">
          <label for="enteredWord">Word for Computer</label>
          <input type="text" class="form-control" id="enteredWord" name="enteredWord" [(ngModel)]="enteredWord" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <ng-template #start>

    </ng-template>
  </div>
  <div class="ai-container col">

  </div>
</div>