/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// $bg-color: #659DBD;
// $red: #F4ABA6;
// $green: #A6F4AB;
$bg-color:      #E5E5E5;
$terra-cotta:   #E27D60;
$light-green:   #85D0CB;
$orange:        #E8A87C;

$red:           #C38D9E;
$green:         #41B3A3;
$black:         #061110;