/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// $bg-color: #659DBD;
// $red: #F4ABA6;
// $green: #A6F4AB;
$team-color:    #FF6AA7;

$bg-color:      #E5E5E5;
$white:         #E5E5E5;
$purple:        #A76AFF;
$blue:          #6AA7FF;
$orange:        #FFA76A;

$red:           #FF6AA7;
$green:         #6AFFA7;
$black:         #565656;

// .form-control, input[type=text] {
//     text-align: center !important;
//     border-color: $team-color !important;
//     outline: none !important;
//     :focus { 
//         outline-color: $team-color !important;
//         box-shadow: 0 0 10px $team-color !important;
//     }
// }

// .btn {
//     :focus { 
//         outline-color: $team-color !important;
//     }
// }