<nav class="navbar fixed-top">
  <a class="navbar-brand" href="/">
    <img src="../../../assets/SmallerLogo.png" width="30" height="30">
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/game" class="btn" role="button" aria-pressed="true">Play</a>
    </li>
    <li>
      <a href="/results" class="btn" role="button" aria-pressed="true">Results</a>
    </li>
  </ul>
  <a *ngIf="user.isLoggedIn()" class="btn logout-btn" role="button" [routerLink]="" (click)="logout()">Log out</a>
</nav>