@import '../../../styles.scss';

li {
    a {
        color: $white;
    }
}

.logout-btn {
    color: $red;
}

.navbar {
    height: 10vh;
    width: 100%;
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }
}

.modal-title {
    color: $red;
}