@import '../../../styles.scss';

.index-container {
    height: 100vh;
    width: 100%;
    .menu-container {
        background-color: $bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            margin: 5px;
        }
    }
    .login-container {
        background-color: #DAAD86;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sign-up-container {
        background-color: $bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}