<div class="index-container">
  <app-navbar></app-navbar>
  <div class="index-bottom-container">
    <div class="game-info-container" *ngIf="user.isLoggedIn(); else loggedOut">
      <h1>How To Play</h1>
      <ul>
        <li>Enter a word for the bot to guess.</li>
        <li>Start guessing the word the bot chooses for you.</li>
        <li>On the bottom left side of the screen there is a row of letters that can be toggled
            to help eliminate and include letters.</li>
        <li>When either you or the bot guesses 
            the word, a winning message will be displayed.</li>
      </ul>
    </div>
  </div>
  <ng-template #loggedOut>
    <div class="index-landing-container row">
      <div class="logo-container col">
        <img src="../../../favicon.ico">
      </div>
      <div class="login-signup-container col">
        <div class="login-container mb-1">
          <form #login="ngForm" (ngSubmit)="onLogin();">
            <h1>Existing Users</h1>
            <div class="login-warning">
              <p *ngIf="loginError" class="warning-message">{{loginError}}</p>
            </div>
            <input type="text" class="form-control mb-2" placeholder="Username" 
                name="loginName" [(ngModel)]="loginName" required>
            <input type="password" class="form-control mb-2" placeholder="Password" 
                name="loginPassword" [(ngModel)]="loginPassword" required>
            <button class="btn btn-lg btn-success btn-block" [disabled]="!login.form.valid">Log In</button>
          </form>
        </div>
        <div class="signup-container">
          <form #signup="ngForm" (ngSubmit)="onSignUp();">
            <h1>New Player?</h1>
            <div class="signup-warning">
              <p *ngIf="signupError" class="warning-message">{{signupError}}</p>
            </div>
            <input type="text" class="form-control mb-2" placeholder="Choose a username" 
              name="signupName" [(ngModel)]="signupName" required>
            <input type="password" class="form-control mb-2" placeholder="Create a password" 
              name="signupPassword" [(ngModel)]="signupPassword" required>
            <input type="password" class="form-control mb-2" placeholder="Confirm Password" 
              name="signupConfirm" [(ngModel)]="signupConfirm"  required>
            <button class="btn btn-lg btn-success btn-block" [disabled]="!signup.form.valid">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
</div>