<div class="index-container row">
  <div class="menu-container col" *ngIf="user.isLoggedIn(); else loginSignup">
    <a routerLink="/game" class="btn btn-primary btn-lg">Play</a>
    <a routerLink="/results" class="btn btn-success btn-lg">Results</a>
    <a class="btn btn-danger btn-lg" (click)="onLogout();">Logout</a>
  </div>
  <ng-template #loginSignup>
    <div class="login-container text-center col">
      <form #login="ngForm" (ngSubmit)="onLogin();">
        <h1>Log in</h1>
        <div *ngIf="loginError" class="warning-message">{{loginError}}</div>
        <input type="text" class="form-control mb-2" placeholder="Username" 
          name="loginName" [(ngModel)]="loginName" required>
        <input type="password" class="form-control mb-2" placeholder="Password" 
          name="loginPassword" [(ngModel)]="loginPassword" required>
        <button class="btn btn-lg btn-primary btn-block" [disabled]="!login.form.valid">Log In</button>
      </form>
    </div>
    <div class="sign-up-container text-center col">
      <form #signup="ngForm" (ngSubmit)="onSignUp();">
        <h1>Sign Up</h1>
        <div *ngIf="signupError" class="warning-message">{{signupError}}</div>
        <input type="text" class="form-control mb-2" placeholder="Username" 
          name="signupName" [(ngModel)]="signupName" required>
        <input type="password" class="form-control mb-2" placeholder="Password" 
          name="signupPassword" [(ngModel)]="signupPassword" required>
        <input type="password" class="form-control mb-2" placeholder="Confirm Password" 
          name="signupConfirm" [(ngModel)]="signupConfirm"  required>
        <button class="btn btn-lg btn-primary btn-block" [disabled]="!signup.form.valid">Sign Up</button>
      </form>
    </div>
  </ng-template>
</div>